body {
    padding: 12px;
}

button {
    border-radius: 12px;
    background-color: rgba(255, 99, 71, 0.415);
    border: none;
    padding: 6px 12px;
}

.my-div {
    padding: 12px;
    border: 2px solid black;
    margin: 12px;
    max-width: 350px;
    color: white;
}

#picture-main {
    width: 638px;
    height: 328px;

}

#title-pic {
    position: relative;
    animation: mymove 3s infinite;
}

@keyframes mymove {
    0% {
        left: 0px;
    }

    50% {
        left: 200px;
    }

    100% {
        left: 0px;
    }
}

#attack-sel {
    background-image: linear-gradient(rgba(18, 152, 173, 0.312), rgba(0, 0, 255, 0.346)),
        url(./attack-img.jpeg);
    background-position: center;
    background-size: contain;

}

#defense-sel {
    background-image: linear-gradient(rgba(127, 66, 23, 0.422), rgba(255, 183, 0, 0.333)), url(./shield-img.jpeg);
    ;
}